body{
    position: relative;
}
/* .box{
    background-color: blue;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 8rem;
 } */
.episode-img{
    width: 350px;
    height: 400px;
    /* position: absolute; */
    border-radius: .5rem;
}



.div{
    position: absolute;
    margin-top: 8rem;
    margin-left: 52rem;

}
.title{
color: red;
/* background-color: #000; */
position: absolute;
margin-top: 12rem;
padding: .5rem;
left: 10%;
/* top: 20%; */
font-size: 1.1rem;
font-family: 'Moon Dance', cursive;

}
.description{
    position: absolute;
    margin-top: 17rem;
    max-width: 750px;
    color: #fff;
    top: 4rem;
    left: 1rem;
    font-family: 'Dancing Script', cursive;

}
.genres{
    position: absolute;
    top: 15rem;
    left: 5rem;
    color: #ccc;
    font-family: 'Dancing Script', cursive;
}
.status-Episode{
    position: absolute;
    top: 17rem;
    left: 5rem;
    color: #ccc;
    font-family: 'Dancing Script', cursive;

}
/* ============== media queries ================ */
@media screen and (min-width: 1215px){
   
} 