/* body{
    position: relative;
} */
.valed{
    position: relative;
}
/* .box{
    background-color: blue;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 8rem;
 } */
.episode-img{
    width: 350px;
    height: 400px;
    /* position: absolute; */
    border-radius: .5rem;
    z-index: 122;
}



.div{
    position: absolute;
    margin-top: 8rem;
    margin-left: 52rem;

}
.title{
color: red;
/* background-color: #000; */
position: absolute;
margin-top: 12rem;
padding: .5rem;
left: 5%;
/* top: 20%; */
font-size: 1.1rem;
font-family: 'Moon Dance', cursive;

}
.description{
    position: absolute;
    margin-top: 17rem;
    max-width: 750px;
    height: 500px;
    color: #fff;
    top: 4rem;
    left: 1rem;
    font-family: 'Dancing Script', cursive;
    /* overflow: hidden; */
}
.genres{
    position: absolute;
    top: 15rem;
    left: 5rem;
    color: #ccc;
    font-family: 'Dancing Script', cursive;
}
.status-Episode{
    position: absolute;
    top: 17rem;
    left: 5rem;
    color: #ccc;
    font-family: 'Dancing Script', cursive;

}
.episode-table{
    position: absolute;
    top: 40rem;
    left: 20%;
    width: 750px;
}
.trrTable{
    background-color: #ccc;
    text-align: center;
}
.tddTable{
    background-color: #ccc;
    text-align: center;
    
}
.tdLInk{
    background-color: #ccc;
    text-align: center;

}
.a-inside-tdLink{
    text-decoration: none;
    color: #000;
}
.a-inside-tdLink:hover{
    text-decoration: underline;
    color: blue;
}
/* ============== media queries ================ */
@media screen and (min-width: 1215px){
   
} 



.linked{
    position: absolute;
    top: 37rem;
    left: 40rem;
}