
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    background-color: #000;
    cursor: url('asset`s/iamges/cursor.svg') , auto;
}
.mainNav{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #0f0d1d;
    z-index: 11;
}
/* burger menu */
.burger{
position: relative;
display: block;
width: 1.5rem;
/* height: 1.5rem; */
background-color: #fff;
margin-right: 1rem;
appearance: none;
background: none;
border: none;
outline: none;
cursor: pointer;
}
.burger .bar , .burger::after , .burger::before{
content:  "";
display: block;
width: 100%;
height: 3px;
margin: 6px 0;
background-color: #fff;
transition: ease-in-out .3s;
}
.bar{
    z-index: 1111;
}
.burger.is-active::before{
    transform: rotate(-45deg) translate( -9px , 6px);
}
.burger.is-active .bar{
    opacity: 0;
}
.burger.is-active::after{
    transform: rotate(45deg) translate(-6.5px , -4px);
    
}

/* mobile-nav start */
.mobile-nav{
    position: fixed;
    top: 100%;
    left: 0%;
    width: 100%;
    min-width: 100vh;
    display: block;
    z-index: 98;
    background-color: rgb(32, 32, 32);
    padding-top: 2rem;
    padding-bottom: 2rem;
    transition: ease-in-out .3s;
}
.mobile-nav.is-active{
    top: 10%;
}
.mobile-nav a{
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    margin-top: 1rem;
    margin: 10px auto;
    max-width: 10rem;
    padding: .5rem;
}
.mobile-nav a:hover{
    background-color: #24104f;
}
/* mobile-nav end  */
.sec  a{ 
    margin: 0 2rem;
}
.main-text{
    position: absolute;
    top: 12rem;
    left: 14%;
    letter-spacing: 1rem;
    font-size: 1.5rem;
    font-family: 'Moon Dance', cursive;
    font-weight: 600;
}
.aks{
    background-size: cover;
    background-attachment: scroll;
    background-position: top center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-attachment: fixed;
    height: 70vh;
    width: 100%;
    margin: auto;
    position: relative;
    opacity: 0.7;
}

/* ============================== main section ====================== */
.searchBox{
    /* outline: none; */
    border: none;
}
.searchBox:focus{
    outline-color: blue;
}
.recent{
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
    position: relative;
    color: aliceblue;
    margin-top: 4rem;
}
.recent::before {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background: #ffffff;
    left: 33.5%;
    top: 50%;
    position: absolute;
}
.recent::after{
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background: #ffffff;
    right: 33.5%;
    top: 50%;
    position: absolute;
}
/* ============================= card sections =================================== */
.card-section{
    justify-content: center;
}
.cards{
    width: 250px;
    height: 250px;
    border-radius: 1rem;
    position: relative;
    margin: .3rem;
}
.card-text{
    position: absolute;
    bottom: 15%;
    left: 10%;
    right: 5%;
    color: #000;
    background-color: rgba(0, 255, 255, 0.658);
    padding: .5rem;
    border-radius: 1rem;
    cursor: pointer;
    text-decoration: none; 
    justify-items: baseline;
    z-index: 10;
    opacity: 0;

}
.image{
    width: 250px;
    height: 250px;
    border-radius: 1rem;
    cursor: pointer;
}
.cards:hover {
    background-color: rgba(255, 255, 255, 0.555);
}
.cards:hover .card-text{
    opacity: 1;
}
.cards:hover  .image {
    opacity: .2;

    transition: ease-in-out .3s;
}
/* .cards:hover  */
/* ==================== media queries =========================== */


@media screen and (max-width:1324px ) {
    .recent::after , .recent::before{
        display: none;
    }
    .main-text{
        display: none;
        opacity: 0;
    }
}
@media  screen and (min-width:580px ) {
    .main-text{
        display: none;
    }
    .sec{
        display: none;
    }
}

